fastapi
uvicorn
python-multipart
transformers
torch
scikit-learn
spacy
sentence-transformers
flask
flask-cors
python-dotenv
PyJWT
python-dateutil
Werkzeug
gunicorn
psycopg2-binary
Flask-SQLAlchemy
alembic
dotenv
pymongo